<div class="container">
    <h1>Vegetable</h1>
    <form action="#">
        <div class="row mb-3">
            <div class="col">
                <label for="v_vegetable">Vegetable Name</label>
                <input type="text" name="v_vegetable" class="form-control" placeholder="vegetable name">
            </div>
            <div class="col">
                <label for="v_commonName">Common Name</label>
                <input type="text" class="form-control" placeholder="common name" name="v_commonName">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="v_urduName">Urdu Name</label>
                <input type="text" class="form-control" placeholder="common name" name="v_urduName">
            </div>
            <div class="col">
                <label for="v_price1">Price A pr/kg</label>
                <input type="text" class="form-control" placeholder="price 1" name="v_price1">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="v_price2">Price B pr/kg</label>
                <input type="text" class="form-control" placeholder="price 2" name="v_price2">
            </div>
            <div class="col">
                <label for="v_price3">Price B pr/kg</label>
                <input type="text" class="form-control" placeholder="price 3" name="v_price3">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="v_isActive">IsActive</label>
                <input type="checkbox" class="ml-2">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <input type="submit" value="Save" class="form-control btn btn-success">
            </div>
            <div class="col">
                <input type="reset" value="Cancel" class="form-control btn btn-danger">
            </div>
            <div class="col">
                <input type="button" value="Back" class="form-control btn btn-secondary">
            </div>
        </div>
    </form>
</div>