<div class="container my-3">
  <h3 class="text-secondary">Add Parent</h3>
  <form #myForm="ngForm" (ngSubmit)="SendData()">
    <div class="row">
      <div class="col">
        <label for="p-email">Email</label>
        <input type="email" name="p-email" [(ngModel)]="addParent.email" class="form-control" id="p-email" />
        {{addParent.email}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="txtfname">FirstName</label>
        <input type="text" class="form-control" name="fname" [(ngModel)]="addParent.firstName">
      </div>
      <div class="col">
        <label for="txtmname">LastName</label>
        <input type="text" class="form-control" name="lname"  [(ngModel)]="addParent.lastName">
      </div>
    </div>
    <div class="row mt-4">
      <input type="submit" class="btn btn-success" value="Add">
    </div>
  </form>

</div>
