<h3>Parent</h3>
<div class="container">
  <form #myForm="ngForm" (ngSubmit)="SaveIT(myForm)">
    <div class="row">
      <div class="col">
        <label for="p-email">Email</label>
        <input type="email" name="p-email" class="form-control" id="p-email" />
        <span id="er1" class="text-danger"></span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="txtfname">FirstName</label>
        <input type="text" class="form-control" name="fname" id="tfname">
        <span id="er2"></span>
      </div>
      <div class="col">
        <label for="txtmname">MiddleName</label>
        <input type="text" class="form-control" name="mname" id="tmname">
        <span id="er3"></span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="txtlname">LastName</label>
        <input type="text" class="form-control" name="lname" id="tlname">
        <span id="er4"></span>
      </div>
      <div class="col">
        <label for="txtphone">PhoneNo</label>
        <input type="text" class="form-control" name="phone" id="tphone">
        <span id="er5"></span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="datedob">D.O.B</label>
        <input type="datetime-local" class="form-control" name="date" id="datedob">
        <span id="er6" class="text-danger"></span>
      </div>
      <div class="col">
        <label for="userId">UserID</label>
        <input type="number" class="form-control" name="userId" id="numuserId" >
        <span id="er7"></span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>IsFamilyHead</label>
        <input type="radio" class="mt-4 mx-1" name="familyHead" id="head" value="Yes">
        <label for="head">Yes</label>
        <input type="radio" class="mx-1" id="notHead" name="familyHead" value="No">
        <label for="notHead">No</label>
        <br /><span id="er8" class="text-danger"></span>
      </div>
      <div class="col">
        <label>Gender</label>
        <input type="radio" name="gender" class="mt-4 mx-1" id="male" value="male">
        <label for="male">Male</label>
        <input type="radio" class="mx-1" value="female" id="female" name="gender">
        <label for="female">Female</label>
        <br /><span id="er9" class="text-danger"></span>
      </div>
    </div>
    <div class="row mt-5">
      <input type="submit" class="btn btn-success" value="Save" (click)="bind()">
    </div>
  </form>

  <div>{{postParentDTO.email}}</div>
</div>
