<div class="wrapper">

  <Navbar></Navbar>

  <SideBar></SideBar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <section class="content">
      <div class="container-fluid">
        
        <router-outlet></router-outlet>

        <Content></Content>
        
      </div>
    </section>
  </div>

  <!-- /Main content -->

  <Footer></Footer>


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
