<h3 class="my-3">Waza Category</h3>
<div class="continer">
    <div class="row">
        <div class="col">
            <label for="w_category">Waza Category Name</label>
            <input placeholder="Category Name" type="text" name="w_category" class="form-control">
        </div>
        <div class="col">
            <label for="w_exp">Waza Experince</label>
            <input type="number" name="w_exp" class="form-control">
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <label for="w_active" class="form-label">IsActive</label>
            <input type="checkbox" class="mx-2" value="true">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="submit" value="Submit" class="form-control btn btn-dark">
        </div>
    </div>
</div>