<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>

<body>
    <h1>New Message</h1>

    <form method="POST" action="/chats">
        <input type="text" name="from" placeholder="Message From"><br><br>
        <input type="text" name="to" placeholder="Message To"> <br><br>
        <textarea rows="3" name="msg" placeholder="Your Message"></textarea><br><br>
        <input type="submit" value="Send Message">
    </form>

</body>

</html>