<div class="card-body">
    <table id="example2" class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>ParentId</th>
        <th>FirstName</th>
        <th>SecondName</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>01</td>
        <td>Sheikh
        </td>
        <td>Muhammad</td>
        <td>Kaheel</td>
        <td>20</td>
        <td><button class="btn btn-secondary">Add</button>&nbsp;&nbsp;<button class="btn btn-secondary">Edit</button></td>
      </tr>
      <tr>
        <td>02</td>
        <td>Zaid
        </td>
        <td>Tariq</td>
        <td>Shah</td>
        <td>20</td>
        <td><button class="btn btn-secondary">Add</button>&nbsp;&nbsp;<button class="btn btn-secondary">Edit</button></td>
      </tr>
      </tbody>
  </table>
</div>