<div class="container table-responsive">
  <table class="table table-bordered table-hover">
    <caption>List of Users</caption>
    <thead>
      <tr>
        <th scope="col" class="p-2">FirstName</th>
        <th scope="col" class="p-2">MiddleName</th>
        <th scope="col" class="p-2">LastName</th>
        <th scope="col" class="p-2">UserName</th>
        <th scope="col" class="p-2">Password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td class="p-2">{{user.firstName}}</td>
        <td class="p-2">{{user.middleName}}</td>
        <td class="p-2">{{user.lastName}}</td>
        <td class="p-2">{{user.userName}}</td>
        <td class="p-2">{{user.password}}</td>
        <td class="p-2"><button class="btn btn-secondary">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <input type="button" class="btn btn-danger form-control mb-3" value="GetUsers" (click)="ngOnInit()"/>
</div>
