<h3>Child</h3>
<div class="container">
    <form #myForm="ngForm" (ngSubmit)="Create(myForm)">
        <div class="row">
            <div class="col">
                <label for="c_email">Email</label>
                <input placeholder="email" type="text" name="c_email" class="form-control mb-2" id="c_email"
                    [(ngModel)]="child.email" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="c_fname">FirstName</label>
                <input placeholder="firstname" type="text" name="c_fname" class="form-control mb-2" id="c_fname"
                    [(ngModel)]="child.firstName" />
            </div>
            <div class="col">
                <label for="c_mname">MiddleName</label>
                <input placeholder="middlename" type="text" name="c_mname" class="form-control mb-2" id="c_mname"
                    [(ngModel)]="child.middleName" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="c_lname">LastName</label>
                <input placeholder="lastname" type="text" name="c_lname" class="form-control mb-2" id="c_lname"
                    [(ngModel)]="child.lastName" />
            </div>
            <div class="col">
                <label for="c_qual">Qualification</label>
                <input placeholder="qualification" type="number" name="c_qual" class="form-control" id="c_qual"
                    [(ngModel)]="child.qualification" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="c_dob">D.O.B</label>
                <input type="datetime-local" name="c_dob" class="form-control" id="c_dob" [(ngModel)]="child.dob" />
            </div>
            <div class="col"><br>
                <label class="mt-3">Gender</label>
                <input type="radio" name="c_gender" value="Male" class="ml-2" id="c_male"
                    [(ngModel)]="child.gender" /><label for="c_male">M</label>
                <input type="radio" name="c_gender" value="Female" class="ml-2" id="c_female"
                    [(ngModel)]="child.gender" /><label for="c_female">F</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="c_parentid">ParentId</label>
                <input type="number" name="w_parentid" class="form-control" placeholder="parentid">
            </div>
            <div class="col">
                <label for="c_prefix">Prefix</label>
                <input type="text" name="c_prefix" class="form-control" placeholder="prefix">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="c_address">Address</label>
                <input type="text" name="c_address" class="form-control" placeholder="c_address">
            </div>
            <div class="col">
                <label for="c_phoneno">PhoneNo</label>
                <input type="text" name="c_phoneno" class="form-control" placeholder="phoneno">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="c_spousefName">SpouseFirstName</label>
                <input type="text" name="c_spousefName" class="form-control" placeholder="SpouseFirstName">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="c_spouselName">SpouseLastName</label>
                <input type="text" name="c_spouselName" class="form-control" placeholder="SpouseLastName">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="submit" value="Save" class="form-control btn btn-success my-4 ">
            </div>
        </div>
    </form>
</div>