<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi repudiandae voluptates officiis dolorem veritatis aspernatur dicta facere non eos totam quos magnam, temporibus, praesentium, fuga nisi voluptatibus rem in obcaecati.</p>
    <button>Click Me!</button>
</body>
</html>