<div class="container">
    <h1>Spice</h1>
    <form>
        <div class="row mb-3">
            <div class="col">
                <label for="s_spice">Spice Name</label>
                <input type="text" name="s_spice" class="form-control" placeholder="spice name">
            </div>
            <div class="col">
                <label for="s_commonName">Spice Common Name</label>
                <input type="text" name="s_commonName" class="form-control" placeholder="common name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="s_urduName">Urdu Name</label>
                <input type="text" name="s_urduName" class="form-control" placeholder="urdu name">
            </div>
            <div class="col">
                <label for="s_gradeA">Grade A</label>
                <input type="text" class="form-control" name="s_gradeA" placeholder="grade A">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="s_gradeB">Grade B</label>
                <input type="text" class="form-control" name="s_gradeB" placeholder="grade B">
            </div>
            <div class="col">
                <label for="s_gradeC">Grade C</label>
                <input type="text" class="form-control" name="s_gradeC" placeholder="grade C">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="s_isActive">IsActivde</label>
                <input type="checkbox" name="s_isActive" class="ml-2">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <input type="submit" value="Save" class="form-control btn btn-success">
            </div>
            <div class="col">
                <input type="reset" value="Cancel" class="form-control btn btn-danger">
            </div>
            <div class="col">
                <input type="button" value="Back" class="form-control btn btn-secondary">
            </div>
        </div>
    </form>
</div>