<div class="container">
    <h3 class="my-4">WazaAchievements</h3>
    <form>
      <div class="row">
        <div class="col mb-3">
          <label for="w_achv">Waza Achievement Title</label>
          <input type="text" name="w_achv" id="w_achv" class="form-control" />
        </div>
        <div class="col mb-3">
          <label for="w_id">Waza Id</label>
          <input type="text" name="w_id" id="w_id" class="form-control" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
            <label for="w_achv">Waza Achievement Description</label> <br>
            <textarea id="w_achv" class="form-control" name="w_achv" rows="4" cols="50"></textarea> <br>
        </div>
      </div>
      <input type="button" class="btn btn-secondary form-control mt-5" value="Save" />
    </form>
  </div>
  