<div class="container table-responsive">
  <h1 class="h1">Roles</h1>

  <table class="table table-bordered table-hover">
    <thead>
      <th scope="col" class="p-2">Role Name</th>
      <th scope="col" class="p-2">Display Name</th>
      <th scope="col" class="p-2">IsSuperAdmin</th>
      <th scope="col" class="p-2">IsAdmin</th>
      <th scope="col" class="p-2">IsParent</th>
      <th scope="col" class="p-2">IsWaza</th>
      <th scope="col" class="p-2">IsGuest</th>
      <th scope="col" class="p-2">IsActive</th>
      <th scope="col" class="p-2">Actions</th>
    </thead>
    <tbody>
      <tr>
        <td class="p-2">SuperAdmin</td>
        <td class="p-2">abcd</td>
        <td class="p-2">true</td>
        <td class="p-2">false</td>
        <td class="p-2">false</td>
        <td class="p-2">false</td>
        <td class="p-2">false</td>
        <td class="p-2">true</td>
        <td class="p-2">
          <button><i class="fa-solid fa-plus"></i></button>
          <button><i class="fa-solid fa-pen-to-square"></i></button>
          <button><i class="fa-sharp fa-solid fa-delete-left"></i></button>
          <button><i class="fa-solid fa-user-plus"></i></button>
          <button><i class="fa-solid fa-user-minus"></i></button>
        </td>
      </tr>
      <tr>
        <td class="p-2">Admin</td>
        <td class="p-2">abcd</td>
        <td class="p-2">false</td>
        <td class="p-2">true</td>
        <td class="p-2">false</td>
        <td class="p-2">false</td>
        <td class="p-2">false</td>
        <td class="p-2">true</td>
        <td class="p-2">
          <button><i class="fa-solid fa-plus"></i></button>
          <button><i class="fa-solid fa-pen-to-square"></i></button>
          <button><i class="fa-sharp fa-solid fa-delete-left"></i></button>
          <button><i class="fa-solid fa-user-plus"></i></button>
          <button><i class="fa-solid fa-user-minus"></i></button>
        </td>
      </tr>
      <tr>
        <td class="p-2">Parent</td>
        <td class="p-2">abcd</td>
        <td class="p-2">false</td>
        <td class="p-2">false</td>
        <td class="p-2">true</td>
        <td class="p-2">false</td>
        <td class="p-2">false</td>
        <td class="p-2">true</td>
        <td class="p-2">
          <button><i class="fa-solid fa-plus"></i></button>
          <button><i class="fa-solid fa-pen-to-square"></i></button>
          <button><i class="fa-sharp fa-solid fa-delete-left"></i></button>
          <button><i class="fa-solid fa-user-plus"></i></button>
          <button><i class="fa-solid fa-user-minus"></i></button>
        </td>
      </tr>
      <tr>
        <td class="p-2">Waza</td>
        <td class="p-2">abcd</td>
        <td class="p-2">false</td>
        <td class="p-2">false</td>
        <td class="p-2">false</td>
        <td class="p-2">true</td>
        <td class="p-2">false</td>
        <td class="p-2">true</td>
        <td class="p-2">
          <button><i class="fa-solid fa-plus"></i></button>
          <button><i class="fa-solid fa-pen-to-square"></i></button>
          <button><i class="fa-sharp fa-solid fa-delete-left"></i></button>
          <button><i class="fa-solid fa-user-plus"></i></button>
          <button><i class="fa-solid fa-user-minus"></i></button>
        </td>
      </tr>
      <tr>
        <td class="p-2">Guest</td>
        <td class="p-2">abcd</td>
        <td class="p-2">false</td>
        <td class="p-2">false</td>
        <td class="p-2">flase</td>
        <td class="p-2">flase</td>
        <td class="p-2">true</td>
        <td class="p-2">true</td>
        <td class="p-2">
          <button><i class="fa-solid fa-plus"></i></button>
          <button><i class="fa-solid fa-pen-to-square"></i></button>
          <button><i class="fa-sharp fa-solid fa-delete-left"></i></button>
          <button><i class="fa-solid fa-user-plus"></i></button>
          <button><i class="fa-solid fa-user-minus"></i></button>
        </td>
      </tr>
    </tbody>
  </table>



  <!-- <table class="table table-bordered table-hover">
      <caption>List of Roles</caption>
      <thead>
        <tr>
          <th scope="col" class="p-2">RoleName</th>
          <th scope="col" class="p-2">DisplayName</th>
          <th scope="col" class="p-2">RoleDiscription</th>
          <th scope="col" class="p-2">IsSuperAdmin</th>
          <th scope="col" class="p-2">IsAdmin</th>
          <th scope="col" class="p-2">IsParent</th>
          <th scope="col" class="p-2">IsWaza</th>
          <th scope="col" class="p-2">IsActive</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles">
          <td class="p-2">{{role.roleName}}</td>      
          <td class="p-2">{{role.displayName}}</td>          
          <td class="p-2">{{role.roleDescription}}</td>          
          <td class="p-2"><i *ngIf="role.isSuperAdmin" class="fas fa-check"></i><i *ngIf="!role.isSuperAdmin" class="fas fa-times"></i></td>
          <td class="p-2"><i *ngIf="role.isAdmin" class="fas fa-check"></i><i *ngIf="!role.isAdmin" class="fas fa-times"></i></td>
          <td class="p-2"><i *ngIf="role.isParent" class="fas fa-check"></i><i *ngIf="!role.isParent" class="fas fa-times"></i></td>
          <td class="p-2"><i *ngIf="role.isWaza" class="fas fa-check"></i><i *ngIf="!role.isWaza" class="fas fa-times"></i></td>
          <td class="p-2"><i *ngIf="role.isActive" class="fas fa-check"></i><i *ngIf="!role.isActive" class="fas fa-times"></i></td>
        </tr>
      </tbody>    
    </table> -->
  <!-- <input type="button" class="btn btn-primary form-control mb-3" (click)="save(putRoleDTO)" value="GetRoles"/> -->
</div>