<select class="bg-light form-control text-dark mt-3">
    <option *ngFor="let item of StateList" [id]="item.key" [value]="item.val">{{item.val}}</option>
</select>

<!-- <p class="d-inline-flex gap-1">
    <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#collapseExample">
      Little about me
    </a>
</p>
<div class="collapse" id="collapseExample">
<div class="card card-body text-light bg-dark">
    My name is Sheikh Muhammd Kaheel . I am a Web Developer . I like to make websites
</div>
</div> -->